mixin vacancy(icon, name, additionalClass)
  li.vacancy(class=additionalClass)
    .vacancy__icon(class="vacancy__icon--"+icon)
    .vacancy__content
      a.vacancy__name(href="#") #{name}
      ul.vacancy__list
        li.vacancy__list-item Interesting and different tasks in client and server development. 
        li.vacancy__list-item Your wage: 50,000 RUR (depends on a candidate’s professional level).
        li.vacancy__list-item Partial or total compensation of English classes and programming courses.  
        li.vacancy__list-item Probation period – up to 3 months. When the probation period is over, you can expect your wage growth.  
        li.vacancy__list-item Friendly and ready-to-held team of like-minded people. 
        li.vacancy__list-item Possibility to work remotely.
      a.vacancy__link(href="#") Details
      .vacancy__details
        p.vacancy__text If you are not confident in your skills, submit your resume anyway. Whatever it may bring, we will probably see you as our team member!
        h3.vacancy__content-header We offer:
        ul.vacancy__list
          li.vacancy__list-item Interesting and different tasks in client and server development. 
          li.vacancy__list-item Your wage: 50,000 RUR (depends on a candidate’s professional level).
          li.vacancy__list-item Partial or total compensation of English classes and programming courses.  
          li.vacancy__list-item Probation period – up to 3 months. When the probation period is over, you can expect your wage growth.  
          li.vacancy__list-item Friendly and ready-to-held team of like-minded people. 
          li.vacancy__list-item Possibility to work remotely.