mixin feedback(additionalClass)
  .feedback(class=additionalClass)
    .wrapper
      h2.section-header Feedback form
      p.feedback__dscr Submit your request, and we will negotiate your project details: offer solutions, calculate the cost and specify the deadline.
      +form('feedback__form')