.feedback {
  background: @color-third;
  padding: 6.4rem;
  height: 77.2rem;
        
  @media screen and (max-width: @screen-sm) {
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
  }
}
