.portfolio-list {
  display: flex;
  flex-wrap: wrap;
    
  @media screen and (max-width: @screen-md) {
    padding: 0 1rem;
  }
  
  &__item {
    margin-left: .3rem;
    
    &:nth-child(n+4) {
      margin-top: .4rem;
    }
  }
  
  .slick-arrow {
    
    @media screen and (max-width: @screen-md) {
      top: 11.5rem;
    }
  }
}
