mixin sitemap(additionalClass)
  ul.sitemap(class=additionalClass)
    li.sitemap__item
      a.sitemap__link(href="#") Service
    li.sitemap__item
      a.sitemap__link(href="#") Technologies
    li.sitemap__item
      a.sitemap__link(href="#") Portfolio
    li.sitemap__item
      a.sitemap__link(href="#") About Us
    li.sitemap__item
      a.sitemap__link(href="#") History
    li.sitemap__item
      a.sitemap__link(href="#") Vacancies