mixin form(additionalClass)
  form.form.form--standart(action="mail.php", method="post", class=additionalClass)
    .form__content
      p.form__dscr.reveal Submit your request, and we will negotiate your project details: offer solutions, calculate the cost and specify the deadline.
      .form__content-container
        input.input.form__input.reveal(type="text", placeholder="Name", name="name")
        input.input.form__input.reveal(type="email", placeholder="E-mail", name="email")
        textarea.input.input--textarea.form__input.reveal(type="text", placeholder="Message", name="message")
        .form__upload.form__upload--standart.reveal
          input(type="file").form__upload-input
          .form__upload-icon
          .form__upload-text max 10Mb
          a.form__upload-remove(href="#")
        button.button.form__button.reveal Discus a project
    .form__loading
    .form__message.form__message--success
      .form__message-text You did it, the request was sent. <br>We will answer you within our work day!
      .form__message-icon
    .form__message.form__message--error
      .form__message-text Unfortunately, your request was not sent. <br>Please, contact us:
        a(href="mailto:hello@soshace.com").form__message-link hello@soshace.com
      .form__message-icon