mixin sitemap(additionalClass)
  ul.sitemap(class=additionalClass)
    li.sitemap__item
      a.sitemap__link(href="services.html") Services
    li.sitemap__item
      a.sitemap__link(href="technologies.html") Technologies
    li.sitemap__item
      a.sitemap__link(href="portfolio.html") Portfolio
    li.sitemap__item
      a.sitemap__link(href="about.html") About Us
    li.sitemap__item
      a.sitemap__link(href="history.html") History
    li.sitemap__item
      a.sitemap__link(href="careers.html") Vacancies