mixin stars(star1, star2, star3, star4, star5, additionalClass)
  .stars(class=additionalClass)
    .stars__item(class="stars__item--"+star1)
    .stars__item(class="stars__item--"+star2)
    .stars__item(class="stars__item--"+star3)
    .stars__item(class="stars__item--"+star4)
    .stars__item(class="stars__item--"+star5)