mixin technologies(additionalClass)
  .technologies.section#technologies(class=additionalClass)
    .wrapper
      h2.section-header.reveal Technologies
      .technologies__list
        .technologies__row
          .technologies__item.reveal.technologies__item--angular Angular
          .technologies__item.reveal.technologies__item--react React
          .technologies__item.reveal.technologies__item--d3 D3.js
        .technologies__row
          .technologies__item.reveal.technologies__item--meteor 
          .technologies__item.reveal.technologies__item--html HTML
          .technologies__item.reveal.technologies__item--css CSS
      +section-link('technologies.html', 'More on technologies', 'section-link--white', 'reveal')