include ../blocks/wrapper/wrapper.pug
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/button/button.pug
include ../blocks/front/front.pug
include ../blocks/services/services.pug
include ../blocks/technologies/technologies.pug
include ../blocks/portfolio/portfolio.pug
include ../blocks/about/about.pug
include ../blocks/reviews/reviews.pug
include ../blocks/feedback/feedback.pug
include ../blocks/contacts/contacts.pug
include ../blocks/section-header/section-header.pug
include ../blocks/section-link/section-link.pug
include ../blocks/portfolio-list/portfolio-list.pug
include ../blocks/slider/slider.pug
include ../blocks/stars/stars.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/socials/socials.pug
include ../blocks/sitemap/sitemap.pug
include ../blocks/footer/footer.pug
include ../blocks/section/section.pug
include ../blocks/portfolio-item/portfolio-item.pug
include ../blocks/review-item/review-item.pug
include ../blocks/page/page.pug
include ../blocks/about-page/about-page.pug
include ../blocks/about-numbers/about-numbers.pug
include ../blocks/team/team.pug
include ../blocks/teammate/teammate.pug
include ../blocks/vacancy/vacancy.pug
include ../blocks/contacts-content/contacts-content.pug
include ../blocks/map/map.pug
