include blocks/wrapper.pug
include blocks/header.pug
include blocks/logo.pug
include blocks/menu.pug
include blocks/button.pug
include blocks/front.pug
include blocks/services.pug
include blocks/technologies.pug
include blocks/portfolio.pug
include blocks/about.pug
include blocks/reviews.pug
include blocks/feedback.pug
include blocks/contacts.pug
include blocks/section-header.pug
include blocks/section-link.pug
include blocks/portfolio-list.pug
include blocks/slider.pug
include blocks/stars.pug
include blocks/form.pug
include blocks/input.pug
include blocks/socials.pug
include blocks/sitemap.pug
include blocks/footer.pug
include blocks/section.pug
include blocks/portfolio-item.pug
include blocks/review-item.pug
include blocks/page.pug
include blocks/about-page.pug
include blocks/about-numbers.pug
include blocks/team.pug
include blocks/teammate.pug
include blocks/vacancy.pug
include blocks/contacts-content.pug
include blocks/map.pug
include blocks/section-subheader.pug
include blocks/history.pug
include blocks/link-back.pug
include blocks/project.pug
include blocks/careers.pug
include blocks/employee.pug
include blocks/portfolio-page.pug
include blocks/review.pug
include blocks/reviews-page.pug
include blocks/services-page.pug
include blocks/technologies-page.pug
include blocks/video.pug
include blocks/contacts-page.pug
include blocks/logo-animated.pug