.reviews {
  
  &__content {
    width: 92.5rem;
    margin: 10.3rem auto 0;
    
    @media screen and (max-width: @screen-md) {
      width: auto;
    }
  }
  
  .slick-dots {
    margin-top: 5rem;
  }
}
