.reviews {
  padding-bottom: 10.6rem;
    
  @media screen and (max-width: @screen-md) {
    padding-bottom: 11.2rem;
  }
  
  &__content {
    max-width: 97.8rem;
    margin: 9.8rem auto 14.6rem;
    
    @media screen and (max-width: @screen-lg) {
      width: 75%;
    }
    
    @media screen and (max-width: @screen-md) {
      margin-top: 9.4rem;
      width: auto;
      padding: 0 2rem;
      margin-bottom: 4.8rem;
    }
        
    @media screen and (max-width: @screen-sm) {
      margin-top: 5.8rem;
    }
  }
  
  .slick-dots {
    margin-top: 3.1rem;
  }
}
