mixin reviews(additionalClass)
  .reviews.section#reviews(class=additionalClass)
    .wrapper
      h2.section-header.section-header--black.reveal Client reviews
      .slider.reviews__content
        +review-item('client-1.jpg', 'May 2016 - Jun 2016', 'furtivelook.com', 'http://www.furtivelook.com/', '— a dating app', 'Jérôme Siau', 'Vitaly Zhukov', 'full', 'full', 'full', 'full', 'empty', '4.2', 'Vitalii is a top developer on javascript framework (meteor + react). Thx for your hard work Vitalii!', 'review-item--vertical')
        +review-item('client-2.jpg', 'May 2016 - Jun 2016', 'furtivelook.com', 'http://www.furtivelook.com/', '— a dating app', 'Jérôme Siau', 'Vitaly Zhukov', 'full', 'full', 'full', 'full', 'empty', '5', 'Vitalii is a top developer on javascript framework (meteor + react). Thx for your hard work Vitalii!', 'review-item--vertical')
        +review-item('client-3.jpg', 'May 2016 - Jun 2016', 'furtivelook.com', 'http://www.furtivelook.com/', '— a dating app', 'Jérôme Siau', 'Vitaly Zhukov', 'full', 'full', 'full', 'full', 'empty', '5', 'Vitalii is a top developer on javascript framework (meteor + react). Thx for your hard work Vitalii!', 'review-item--vertical')
      +section-link('reviews.html', 'View all 90 reviews', 'reveal')