.employee {
  padding-bottom: 11.6rem; 
  
  &__content {
    display: flex;
    margin-top: 8.5rem;
    margin-bottom: 9.5rem;
  }
  
  &__photo {
    margin-right: 7.9rem;
  }
  
  &__dscr {
    font-family: @font-first;
    font-size: 1.8rem;
    font-weight: 300;
    max-width: 57rem;
    line-height: 3.2rem;
  }
  
  &__portfolio {
    margin-top: 5rem;
  }
}
