.project {
  padding-bottom: 11.4rem;
  padding-top: 8rem;
        
  @media screen and (max-width: @screen-md) {
    padding-left: 3.7rem;
    padding-right: 3.7rem;
  }
        
  @media screen and (max-width: @screen-sm) {
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  &__header {
    margin-top: 4.5rem;
    font-size: 5.4rem;
    text-transform: none;
        
    @media screen and (max-width: @screen-sm) {
      font-size: 3.2rem;
      margin-top: 3.8rem;
    }
  }
  
  &__content {
    margin-top: 9rem;
        
    @media screen and (max-width: @screen-sm) {
      margin-top: 6rem;
    }
  }
  
  &__content-item {
    
    &:nth-child(n+2) {
      margin-top: 2.9rem;
    }
  }
  
  &__content-header {
    font-size: 2.2rem;
    font-family: @font-first;
    margin-bottom: 1rem;
        
    @media screen and (max-width: @screen-md) {
      text-align: center;
    }
  }
  
  &__content-text {
    font-size: 1.8rem;
    font-family: @font-first;
    line-height: 2.8rem;
    font-weight: 300;
  }
  
  &__content-item {
    
  }
  
  &__list-ordered {
    
  }
  
  &__list-ordered-item {
    
  }
  
  &__technologies {
    display: flex;
    align-items: center;
        
    @media screen and (max-width: @screen-md) {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 60rem;
    }
  }
  
  &__technologies-item {
        
    @media screen and (max-width: @screen-md) {
      margin-bottom: 2rem;
    }
        
    @media screen and (max-width: @screen-sm) {
      margin-right: 1.3rem;
    }
    
    &:nth-child(n+2) {
      margin-left: 2.8rem;
        
      @media screen and (max-width: @screen-sm) {
        margin-left: 0;
      }
    }
    
    &--meteor {
      background: url(../img/project-meteor.png) no-repeat;
      background-size: cover;
      width: 12.6rem;
      height: 3rem;
    }
    
    &--react {
      background: url(../img/project-react.png) no-repeat;
      background-size: cover;
      width: 5.6rem;
      height: 5rem;
    }
    
    &--google {
      background: url(../img/project-google.png) no-repeat;
      background-size: cover;
      width: 5.8rem;
      height: 3.6rem;
    }
    
    &--facebook {
      background: url(../img/project-facebook.png) no-repeat;
      background-size: cover;
      width: 21.8rem;
      height: 2.4rem;
    }
    
    &--maps {
      background: url(../img/project-maps.png) no-repeat;
      background-size: cover;
      width: 4.3rem;
      height: 4.1rem;
    }
    
    &--ecma {
      background: url(../img/project-ecma.png) no-repeat;
      background-size: cover;
      width: 11.2rem;
      height: 3rem;
    }
  }
  
  &__screenshot {
    margin-top: 7rem;
    margin-bottom: 2.6rem;
        
    @media screen and (max-width: @screen-md) {
      max-width: 100%;
      margin-top: 3.5rem;
    }
  }
  
  &__reviews {
    margin-top: 5.5rem;
  }
}