mixin portfolio-item(picture, additionalClass)
  .portfolio-item(class=additionalClass)
    img.portfolio-item__picture(src="img/"+picture, alt="Portfolio")
    .portfolio-item__info
      .portfolio-item__info-top
        .portfolio-item__title Furtivelook
        .portfolio-item__dscr 
          span.portfolio-item__dscr-header Task: 
          |Develop the functional part for a web app on dating across the world. 
      a.portfolio-item__link(href="project.html") Details