.portfolio-item {
  width: 39rem;
  height: 21.2rem;
  position: relative;
    
  @media screen and (max-width: @screen-md) {
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
    height: 31.5rem;
  }
    
  @media screen and (max-width: @screen-sm) {
    height: auto;
  }
  
  &__picture {
    width: 100%;
    height: 100%;
    
    @media screen and (max-width: @screen-md) {
      height: auto;
    }
  }
  
  &__info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem 1.7rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(36,120,222, .9);
    
    @media screen and (max-width: @screen-md) {
      opacity: 1;
      position: relative;
      left: auto;
      top: auto;
      margin-top: -7.2rem;
      justify-content: flex-start;
    }
    
    @media screen and (max-width: @screen-md) {
      text-align: center;
      margin-top: 0;
      padding: 1.5rem .5rem;
    }
    
    &:hover {
      opacity: 1;
    }
  }
  
  &__info-top {
    
  }
  
  &__title {
    font-family: @font-first;
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  &__dscr {
    font-family: @font-first;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.8rem;
  }
  
  &__dscr-header {
    
    @media screen and (max-width: @screen-sm) {
      display: block;
    }
  }
  
  &__link {
    color: #fff;
    font-family: @font-first;
    font-size: 1.6rem;
    display: block;
    
    @media screen and (max-width: @screen-md) {
      margin-top: 1.5rem;
    }
  }
}