mixin teammate(picture, name, occupation, additionalClass)
  li.teammate(class=additionalClass)
    a.teammate__link(href="employee.html")
      img.teammate__picture(src="img/"+picture, alt="Developer")
      .teammate__content
        p.teammate__name #{name}
        p.teammate__occupation #{occupation}