mixin socials(additionalClass)
  .socials(class=additionalClass)
    a.socials__item.socials__item--fb(href="#")
    a.socials__item.socials__item--linkedin(href="#")
    a.socials__item.socials__item--github(href="#")
    a.socials__item.socials__item--twitter(href="#")
    a.socials__item.socials__item--google(href="#")
    a.socials__item.socials__item--instagram(href="#")
    a.socials__item.socials__item--youtube(href="#")