mixin socials(additionalClass)
  .socials(class=additionalClass)
    a.socials__item.socials__item--fb(href="https://www.facebook.com/soshace")
    a.socials__item.socials__item--linkedin(href="https://www.linkedin.com/company/soshace")
    a.socials__item.socials__item--github(href="https://github.com/soshace")
    a.socials__item.socials__item--twitter(href="https://twitter.com/hisoshace")
    a.socials__item.socials__item--google(href="https://plus.google.com/100228434511699964309")
    a.socials__item.socials__item--instagram(href="https://www.instagram.com/soshaceteam/")
    a.socials__item.socials__item--youtube(href="https://www.youtube.com/channel/UCfsRJLF3BrA-xCFlYCGR7EA")