mixin socials(additionalClass)
  ul.socials(class=additionalClass)
    li.socials__item
      a.socials__item-link.socials__item-link--fb(href="#")
      a.socials__item-link.socials__item-link--linkedin(href="#")
      a.socials__item-link.socials__item-link--github(href="#")
      a.socials__item-link.socials__item-link--twitter(href="#")
      a.socials__item-link.socials__item-link--google(href="#")
      a.socials__item-link.socials__item-link--instagram(href="#")
      a.socials__item-link.socials__item-link--youtube(href="#")