.socials {
  display: flex;
  align-items: center;
  margin-bottom: .9rem;
    
  @media screen and (max-width: @screen-md) {
    margin-bottom: 2.1rem;
    justify-content: center;
  }
  
  &__item {
    display: block;
    flex: 0 0 auto;
    
    &:nth-child(n+2) {
      margin-left: 1.6rem;
    }
    
    &--fb {
      background: url(../img/facebook--white.svg) no-repeat;
      background-size: cover;
      width: 1.2rem;
      height: 2.4rem;
    }
    
    &--linkedin {
      background: url(../img/linkedin--white.svg) no-repeat;
      background-size: cover;
      width: 2.4rem;
      height: 2.2rem;
    }
    
    &--github {
      background: url(../img/github--white.svg) no-repeat;
      background-size: cover;
      width: 2.7rem;
      height: 2.5rem;
    }
    
    &--twitter {
      background: url(../img/twitter--white.svg) no-repeat;
      background-size: cover;
      width: 2.8rem;
      height: 2.2rem;
    }
    
    &--google {
      background: url(../img/google--white.svg) no-repeat;
      background-size: cover;
      width: 3.7rem;
      height: 2.3rem;
    }
    
    &--instagram {
      background: url(../img/instagram--white.svg) no-repeat;
      background-size: cover;
      width: 2.7rem;
      height: 2.7rem;
    }
    
    &--youtube {
      background: url(../img/youtube--white.svg) no-repeat;
      background-size: cover;
      width: 3rem;
      height: 2.1rem;
    }
  }
}