mixin socials(additionalClass)
  .socials(class=additionalClass)
    a.socials__item.socials__item--fb.reveal(target="_blank", href="https://www.facebook.com/soshace")
    a.socials__item.socials__item--linkedin.reveal(target="_blank", href="https://www.linkedin.com/company/soshace")
    a.socials__item.socials__item--github.reveal(target="_blank", href="https://github.com/soshace")
    a.socials__item.socials__item--twitter.reveal(target="_blank", href="https://twitter.com/hisoshace")
    a.socials__item.socials__item--google.reveal(target="_blank", href="https://plus.google.com/100228434511699964309")
    a.socials__item.socials__item--instagram.reveal(target="_blank", href="https://www.instagram.com/soshaceteam/")
    a.socials__item.socials__item--youtube.reveal(target="_blank", href="https://www.youtube.com/channel/UCfsRJLF3BrA-xCFlYCGR7EA")