@color-first: #ffbc00;

@color-second: #1d2938;

@color-third: #2478de;

@color-fourth: #35b800;

@font-first: 'Roboto', 'Arial', sans-serif;


@transition: all .15s linear;


@screen-sm:                   767px;
@screen-md:                   900px;