.review {
  padding-top: 8rem;
  padding-bottom: 11.4rem;
        
  @media screen and (max-width: @screen-md) {
    padding-left: 3.7rem;
    padding-right: 3.7rem;
  }
  
  &__screenshot {
    margin-top: 19rem;
        
    @media screen and (max-width: @screen-md) {
      width: 100%;
      margin-top: 7rem;
    }
  }
  
  &__page-content {
    
  }
}
