mixin contacts-content(additionalClass, additionalClass2)
  .contacts-content(class=additionalClass, class=additionalClass2)
    .contacts-content__section
      p.contacts-content__item.contacts-content__address Russia, Saint Petersburg, Bolshaya Monetnaya Street, 16, office 530, Business Center “Bolshaya Monetnaya, 16”
      p.contacts-content__item.contacts-content__phone + 7 (900) 600-78-20 — Saint Petersburg
      a.contacts-content__item.contacts-content__link hello@soshace.com
      p.contacts-content__item skype: branikita
    .contacts-content__section
      +socials
      a.contacts-content__item.contacts-content__link(href="#") UpWork account
      a.contacts-content__item.contacts-content__link(href="#") Medium account
      a.contacts-content__item.contacts-content__link(href="#") blog.soshace.com
      a.contacts-content__item.contacts-content__link.contacts-content__presentation(href="#") Presentation