mixin contacts-content(additionalClass, additionalClass2)
  .contacts-content(class=additionalClass, class=additionalClass2)
    .contacts-content__section
      p.contacts-content__item.contacts-content__address Russia, Saint Petersburg, Bolshaya Monetnaya Street, 16, office 530, Business Center “Bolshaya Monetnaya, 16”
      p.contacts-content__item.contacts-content__phone + 7 (900) 600-78-20 — Saint Petersburg
      a.contacts-content__item.contacts-content__link(href="mailto:hello@soshace.com") hello@soshace.com
      p.contacts-content__item skype: branikita
    .contacts-content__section
      +socials
      a.contacts-content__item.contacts-content__link(target="_blank", href="https://www.upwork.com/o/companies/_~0195981d091a50e50f/") UpWork account
      a.contacts-content__item.contacts-content__link(target="_blank", href="https://medium.com/@soshace") Medium account
      a.contacts-content__item.contacts-content__link(target="_blank", href="http://blog.soshace.com/ru/") blog.soshace.com
      a.contacts-content__item.contacts-content__link.contacts-content__presentation(target="_blank", href="http://soshace.com/data/files/soshace_presentation_eng.pdf") Presentation