mixin portfolio(additionalClass)
  .portfolio.section#portfolio(class=additionalClass)
    .wrapper
      h2.section-header.section-header--black Portfolio
      ul.portfolio-list.portfolio__portfolio-list
        .portfolio-list__item
          +portfolio-item('portfolio-1.jpg')
        .portfolio-list__item
          +portfolio-item('portfolio-2.jpg')
        .portfolio-list__item
          +portfolio-item('portfolio-3.jpg')
        .portfolio-list__item
          +portfolio-item('portfolio-4.jpg')
        .portfolio-list__item
          +portfolio-item('portfolio-5.jpg')
        .portfolio-list__item
          +portfolio-item('portfolio-6.jpg')
        .portfolio-list__item
          +portfolio-item('portfolio-7.jpg')
        .portfolio__list-item
          +portfolio-item('portfolio-8.jpg')
        .portfolio-list__item
          +portfolio-item('portfolio-9.jpg')
      +section-link('portfolio.html', 'View all projects')