.portfolio {
  
  &__portfolio-list {
    margin-top: 8.9rem;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  &__list-item {
    
    &:nth-child(n+4) {
      margin-top: .4rem;
    }
  }
}
