mixin services(additionalClass)
  .services.section#services(class=additionalClass)
    .wrapper
      h2.section-header.section-header--black Services
      ul.services__list
        li.services__item.services__item--server Server programming
        li.services__item.services__item--adaptive Adaptive coding 
        li.services__item.services__item--client Client programming 
        li.services__item.services__item--webapps Web apps development 
        li.services__item.services__item--prototypes Development of web app prototypes 
        li.services__item.services__item--leased Leased developer
      +section-link('services.html', 'More on services')