doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body.body
    +header
    .page.about-page
      .wrapper
        h1.section-header.section-header--black.reveal Our company
        p.about-page__text.reveal Soshace is a web development studio. We design and build web apps for various online businesses. JavaScript / Node.js development is our major specialization, where we are among the best. We generally work with startups and digital agencies from the US, Australia, the UK. We absolutely love big and complex projects and do only those things we are capable to do.
        +about-numbers-page('about-numbers--row')
        +section-link('history.html', 'See company history', 'about-page__history-link')
        +team('about-page__team')
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug