doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body.body
    +header
    .page.contacts-page
      .map
        .map__content#map
        .wrapper
          +contacts-content('map__contacts', 'contacts-content--white')
    +feedback
    +footer
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCTuyWoKurdTrbHR1q4UpG6Ov9sLXkFPxQ&callback=initMap', async='', defer='')
    include ../templates/scripts.pug