doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .page.contacts-page
      .map
        iframe.map__content(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.170508205505!2d30.31902891615944!3d59.962495067135926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696315d255b1fa3%3A0xcfd8efe2894aaa5f!2z0JHQvtC70YzRiNCw0Y8g0JzQvtC90LXRgtC90LDRjyDRg9C7LiwgMTYsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5NzEwMQ!5e0!3m2!1sru!2sby!4v1480032802236', frameborder='0', style='border:0', allowfullscreen='')
        .wrapper
          +contacts-content('map__contacts', 'contacts-content--white')
    +feedback
    +footer
    include ../templates/scripts.pug