doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header--inner
    .page.contacts-page
      .map
        .map__content#map
        .wrapper
          +contacts-content('map__contacts', 'contacts-content--white')
    +feedback
    +footer
    include ../templates/scripts.pug