doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .page.history
      .wrapper
        h1.section-header Company timeline
        .history__content
          .history__timeline
          .history__year
            .history__item.history__year.history__year--blue 2016
            .history__item.history__dscr
              .history__step
                .history__step-media.history__step-media--team team members
                .history__step-month September
                .history__step-dscr The Company includes 10 team members: 9 developers and 1 project manager.
              .history__step
                .history__step-media
                  img.history__step-picture(src="img/clutch.png", alt="Clutch")
                .history__step-month August
                .history__step-dscr We create our profiles in popular social media. Receive first  feedbacks at 
                  a.history__step-link(href="https://clutch.co/") www.clutch.co.
              .history__step
                .history__step-month March
                .history__step-dscr We celebrate our first birthday! This year has brought us 7,000+ working hours and 92 successful projects.
          .history__year
            .history__item.history__dscr
              .history__step
                .history__step-month December
                .history__step-dscr We launch three internal projects that will help our growing team in the future: CRM for digital agencies, app for managing your account in social medial and popular services, administrating services for a remote team.
              .history__step
                .history__step-media
                  img.history__step-picture(src="img/js.png", alt="Javascript")
                .history__step-month June
                .history__step-dscr We make a decision not to work on a whole bunch of projects, but to focus on development using popular JavaScript frameworks. Our goal is to become leaders in this sector.
              .history__step
                .history__step-media
                  img.history__step-picture(src="img/company.png", alt="Company")
                .history__step-month March
                .history__step-dscr We build a team and register our company as Soshace LLC hiring our first stuff. The greatest things are in the air.
            .history__item.history__year.history__year--green 2015
          .history__year
            .history__item.history__year.history__year--blue 2014
            .history__item.history__dscr
              .history__step
                .history__step-media
                  img.history__step-picture(src="img/soshace.png", alt="Soshace Logo")
                .history__step-month December
                .history__step-dscr We register the agency’s profile at elance.com. A domain name soshace.com is decided to be used for our web development studio.
          .history__year
            .history__item.history__dscr
              .history__step
                .history__step-media
                  img.history__step-picture(src="img/soshace.png", alt="Soshace Logo")
                .history__step-month June
                .history__step-dscr A domain name is soshace.com registered. Our first idea to create a social blog similar to 
                  a.history__step-link(href="https://medium.com/") medium.com
                  |or 
                  a.history__step-link(href="http://mashable.com/") mashable.com.
            .history__item.history__year.history__year--green 2013
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug