doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body.body.main
    +header
    +front
    +services
    +technologies
    +portfolio
    +about
    +reviews
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug