doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .page.portfolio-page
      .wrapper
        h1.section-header.section-header--black Portfolio
        .portfolio-page__year
          .portfolio-page__year-number.portfolio-page__year-number--blue 2016
          .portfolio-list
            .portfolio-list__item
              +portfolio-item('portfolio-1.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-2.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-3.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-4.jpg')
        .portfolio-page__year
          .portfolio-page__year-number.portfolio-page__year-number--green 2015
          .portfolio-list
            .portfolio-list__item
              +portfolio-item('portfolio-1.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-2.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-3.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-4.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-5.jpg')
        .portfolio-page__year
          .portfolio-page__year-number.portfolio-page__year-number--blue 2014
          .portfolio-list
            .portfolio-list__item
              +portfolio-item('portfolio-1.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-2.jpg')
            .portfolio-list__item
              +portfolio-item('portfolio-3.jpg')
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug