doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .page.project
      .wrapper
        a.link-back(href="portfolio.html") Back to Portfolio
        a.section-header(href="http://www.furtivelook.com/") Furtivelook
        .project__content
          .project__content-item
            h2.project__content-header Target:
            p.project__content-text To develop functionality of a web app helping people who once were acquainted to find each other. 
          .project__content-item
            h2.project__content-header Results:
            ol.project__list-ordered To develop functionality of a web app helping people who once were acquainted to find each other. 
              li.project__list-ordered-item.project__content-text We added a function of signing in via Facebook and Google+
              li.project__list-ordered-item.project__content-text We set up the service elements cooperation with Google maps
              li.project__list-ordered-item.project__content-text We implemented the system of sharing contacts, messages and other information between users. 
              li.project__list-ordered-item.project__content-text We developed a service administrator control panel
              p.project__content-text We expanded search and ads capabilities, improved the service convenience for users. We continue our work with other projects.
          .project__content-item
            h2.project__content-header Technologies:
            .project__technologies
              .project__technologies-item.project__technologies-item--meteor
              .project__technologies-item.project__technologies-item--react
              .project__technologies-item.project__technologies-item--google
              .project__technologies-item.project__technologies-item--facebook
              .project__technologies-item.project__technologies-item--maps
              .project__technologies-item.project__technologies-item--ecma
          img.project__screenshot(src="img/project-1.jpg", alt="Furtivelook")
          .project__content-item
            h2.project__content-header Feedback:
            .project__reviews
              +review-item('project__review-item')
              +review-item('project__review-item')
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug