doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .page.review
      .wrapper
        a.link-back(href="reviews.html") Back to Reviews
        .review__page-content
          +review-item--detailed('client-1.jpg', 'May 2016 - Jun 2016', 'furtivelook.com', '#', '— a dating app', 'Jérôme Siau', 'Vitaly Zhukov', 'full', 'full', 'full', 'full', 'empty', '', 'Vitalii is a top developper on javascript framework (meteor + react). Thx for your hard work Vitalii!')
        img.review__screenshot(src="img/project-1.jpg", alt="Furtivelook")
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug