doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body.body
    +header
    .page.reviews-page
      .wrapper
        h1.section-header.section-header--black Client reviews
        .reviews-page__content
          +review-item('client-1.jpg', 'May 2016 - Jun 2016', 'furtivelook.com', 'http://www.furtivelook.com/', '— a dating app', 'Jérôme Siau', 'Vitaly Zhukov', 'full', 'full', 'full', 'full', 'full', '5', 'Vitalii is a top developper on javascript framework (meteor + react). Thx for your hard work Vitalii!')
          +review-item('client-2.jpg', 'May 2105 - Jun 2015', 'gradconnections', 'https://au.gradconnection.com/', '— headhunting service for students', 'Michael Whelehan', 'Denis Nefedov', 'full', 'full', 'full', 'full', 'empty', '4.2', 'Extremely professional and constantly willing to help. Something went wrong on the project because of new external platform changes and they were professional and dynamic to find the best solution and readapt the strategy.')
          +review-item('client-3.jpg', 'May 2014 - Jun 2014', 'trendanalytics', 'https://www.trendalytics.co/', '— popular brend analytics', 'Kevin He', 'Mark Gubarev', 'full', 'full', 'full', 'full', 'full', '4.9', 'The guys got up to speed with the project super quickly. Communication was great with response times as well as understanding the tech stack required for the job at hand. Great team and great guys to work with.')
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug