doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .page.services-page
      .wrapper
        h1.section-header.section-header--black Services
        ul.services-page__list
          li.services-page__item
            .services-page__item-icon.services-page__item-icon--server
            h2.services-page__item-name Server programming
            p.services-page__item-content We develop a server part of the project; build fast and responsive apps on 
              a.services-page__item-link(href="#") Node.js
              |; use such frameworks as
              a.services-page__item-link(href="#") Express.js
              |,
              a.services-page__item-link(href="#") Sails.js
              |,
              a.services-page__item-link(href="#") Koa.js. 
              |We work with the following databases: 
              a.services-page__item-link(href="#") MongoDb
              |, 
              a.services-page__item-link(href="#") MySQL
              |, 
              a.services-page__item-link(href="#") PostgreSQL
          li.services-page__item
            .services-page__item-icon.services-page__item-icon--adaptive
            h2.services-page__item-name Adaptive coding 
            p.services-page__item-content We write code for adaptive, cross-browser interfaces in full accordance with a layout, pixel perfect. Be sure, your website or app will be displayed on any device and in any browser – just the way you wanted it to
          li.services-page__item
            .services-page__item-icon.services-page__item-icon--client
            h2.services-page__item-name Client programming
            p.services-page__item-content We design a client part using the latest abilities of a browser API. We use actively developing frameworks – 
              a.services-page__item-link(href="#") Angular 
              |by Google and 
              a.services-page__item-link(href="#") React 
              |by Facebook
          li.services-page__item
            .services-page__item-icon.services-page__item-icon--web
            h2.services-page__item-name Web apps development 
            p.services-page__item-content We work on an app’s technical features including server and client programming, as well as layout coding. You will need to provide a technical task and your design – we will care about the other
          li.services-page__item
            .services-page__item-icon.services-page__item-icon--prototype
            h2.services-page__item-name Development of web app prototypes 
            p.services-page__item-content You’ve got an idea for you web app, but still doubt whether it will be popular? Based on your vision, we will develop a prototype that will attract the first users and enable you to test the demand on your service or product
          li.services-page__item
            .services-page__item-icon.services-page__item-icon--dedicated
            h2.services-page__item-name Dedicated developer
            p.services-page__item-content We offer our specialists to join your team on a full-time basis – as a full-stack, front-end or back-end developer. It is much more affordable than hiring a new worker and more reliable than using a freelancer’s services
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug