doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body.body
    +header
    .page.technologies-page
      .wrapper
        h1.section-header.section-header--black.reveal Technologies
        h2.section-subheader.technologies-page__subheader.reveal In our development process we use:
        ul.technologies-page__list
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--angular
            a.technologies-page__header(href="#") Angular
            p.technologies-page__content Open-Source JavaScript framework provided by Google was worked out to build one-page web apps. Angular has one of the greatest web development communities, a whole stack of ready-to-use templates and libraries. The framework is built on the MVC architecture, which enables to easily divide the logics of major web apps
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--react
            a.technologies-page__header(href="#") React
            p.technologies-page__content This popular JavaSсript library is used for creating a user interface in such big companies as Facebook or Instagram. React is extremely handy for scalable apps with complex UI with a constantly changing or expanding structure
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--d3
            a.technologies-page__header(href="#") D3.js
            p.technologies-page__content It is a JavaScript library for data handling and visualization. Perfect for creating stylish graphs and diagrams, adding “wow” effects on a page. If you are going to use animation or dynamics in your app, D3.js is what you need
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--meteor
            a.technologies-page__header(href="#") Meteor
            p.technologies-page__content It is a complex JavaScript framework enabling to re-use a part of server logics for front-end building – an app gets developed faster using this framework. It is actively supported by its growing community and is perfect for fast creation of mobile and web app prototypes
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--html
            a.technologies-page__header(href="#") HTML
            p.technologies-page__content A new open platform for creating web apps that use audio, video, graphics and animation. Globally, it is a versatile markup language that improves and expands a page markup compared to the outdated HTML4
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--css
            a.technologies-page__header(href="#") CSS
            p.technologies-page__content It is a new standard of formatting HTML documents that expands the possibilities of the previous standard – CSS 2.1. Shades, animation, rounding-offs have been added, to name just a few. It is used for describing and designing your webpage written in HTML and XHTML
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--node
            a.technologies-page__header(href="#") Node.js
            p.technologies-page__content A program platform based on the V8 engine. It functionally turns overspecialized JavaScript into a commonly-used language. It is perfect for building real-time apps – for example, chats, real-time user panels, online games, etc
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--redux
            a.technologies-page__header(href="#") Redux
            p.technologies-page__content A JavaScript framework controlling the app state change. It is generally used together with React.js or any other view library. Perfect for developing complex JavaScript apps with a wide range of opportunities
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--backbone
            a.technologies-page__header(href="#") Backbone
            p.technologies-page__content A JavaScript framework controlling the app state change. It is generally used together with React.js or any other view library. Perfect for developing complex JavaScript apps with a wide range of opportunities
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--jquery
            a.technologies-page__header(href="#") jQuery
            p.technologies-page__content It is a JavaScript library specializing on work with a webpage DOM and providing a cross-browser app support. Its advantages are creation of various visual effects and support of numerous JavaScript plugins
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--amazon
            a.technologies-page__header(href="#") Amazon Web Services
            p.technologies-page__content A set of cloud service platforms provided by Amazon. It includes file hosting, distributed data storage, server hosting, providing of computing capacities. The set enables to decrease project maintenance costs, provide web server load balancing, etc
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--sails
            a.technologies-page__header(href="#") Sails.js
            p.technologies-page__content It is a framework for developing Node.js apps. It was built on the MVC coding pattern and resembles Ruby on Rails in its approach. The framework includes an ability to automatically form API according to data models. It also supports methods preventing standard hacker attacks
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--express
            a.technologies-page__header(href="#") Express.js
            p.technologies-page__content Express is a minimalistic and flexible web framework for Node.js apps that provides a great variety of functions for mobile and web applications. It extremely simplifies the development of a server API and enhances cooperation with databases
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--less
            a.technologies-page__header(href="#") Less
            p.technologies-page__content CSS pre-processor enabling to use variables, functions, cycles and other technologies. It was created under the Sass style language. It simplifies work for web developers suggesting approaches and solutions unfamiliar to CSS, but well-known for other programming languages
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--sass
            a.technologies-page__header(href="#") Sass
            p.technologies-page__content A Less analogue. It is a meta language based on CSS and developed to enhance the abstraction level of a CSS code and simplify files of a cascading style sheet. It adds basic possibilities of programming languages, which makes it more structured and convenient to work with the styles
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--elastic
            a.technologies-page__header(href="#") Elastic Search
            p.technologies-page__content A free search server based on Apache Lucene. It shows a high speed of full text query handling, an opportunity to move a system to the cloud, as well as easy-to-use characteristics
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--git
            a.technologies-page__header(href="#") Git
            p.technologies-page__content Powerful and complex distributed version control system. Understanding of all Git abilities opens up a whole new world and prospects to a developer managing the source code. Soshace team use Git in all of their projects
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--koa
            a.technologies-page__header(href="#") Koa.js
            p.technologies-page__content It is a framework by Express.js for building a server part for Node.js apps. The framework is easier and handier to use than Express.js. It enables to reduce the intensity of callbacks in a code, which improves error handling
          li.technologies-page__item.reveal
            .technologies-page__icon.technologies-page__icon--mongodb
            a.technologies-page__header(href="#") MongoDB
            p.technologies-page__content It is a document-oriented system of database management. It supports convenient data replication. To scale an app is easier than using SQL databases. Request syntax in MongoDb is similar to the one in JavaScript, which simplifies the work for a Node.js developer
    +feedback
    +contacts
    +footer
    include ../templates/scripts.pug