.section-header {
  font-size: 5.4rem;
  font-weight: 300;
  font-family: @font-first;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  
  &--black {
    color: #000;
  }
}
