mixin about-numbers(additionalClass)
  ul.about-numbers(class=additionalClass)
    li.about-numbers
      .about-numbers__digits 2
      .about-numbers__content years of productive work
    li.about-numbers
      .about-numbers__digits 7000+
      .about-numbers__content working hours
    li.about-numbers
      .about-numbers__digits 37
      .about-numbers__content satisfied customers 
    li.about-numbers
      .about-numbers__digits 83
      .about-numbers__content completed projects