.about-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  &__item {
    width: 50%;
    
    &:nth-child(2n+2) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    
    &:nth-child(n+3) {
      margin-top: 6rem;
    }
  }
  
  &__digits {
    font-family: @font-first;
    line-height: 7.2rem;
    font-size: 10rem;
    font-weight: 700;
    
    &--blue {
      color: #2378de;
    }
    
    &--green {
      color: #00bf00;
    }
  }
  
  &__content {
    font-family: @font-first;
    font-size: 2.2rem;
    font-weight: 300;
    color: #fff;
    margin-top: 1.5rem;
  }
}