.front {
  background-size: cover;
  padding: 14.3rem 0 11.2rem;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 88rem;
  position: relative;
  overflow: hidden;
    
  @media screen and (max-width: @screen-md) {
    padding-top: 22.4rem;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: @color-second;
    opacity: .6;
    z-index: 2;
  }
  
  &__wrapper {
    position: relative;
    z-index: 3;
  }
  
  &__logo {
    width: 30rem;
    height: 8rem;
    background: url(../img/logo.png) no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto 3.4rem;
  }
  
  &__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 12.2rem;
    
    @media screen and (max-width: @screen-md) {
      justify-content: space-between;
    }
  }
  
  &__about-item {
    width: 50%;
    max-width: 45rem;
    font-size: 2.2rem;
    color: #fefefe;
    font-family: @font-first;
    font-weight: 300;
    line-height: 3.2rem;
    display: flex;
    
    &:nth-child(2n+1) {
      margin-right: 6.5rem;
    
      @media screen and (max-width: @screen-md) {
        margin-right: 0;
        padding-left: 4rem;
        padding-right: 2rem;
      }
    }
    
    &:nth-child(2n+2) {
      margin-left: 6.5rem;
    
      @media screen and (max-width: @screen-md) {
        margin-left: 0;
        max-width: 30rem;
        margin-right: 2.8rem;
      }
    }
    
    &:nth-child(n+3) {
      margin-top: 3rem;
    }
    
    &:before {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      background: @color-first;
      margin-right: 1rem;
      margin-top: 1rem;
      flex: 0 0 auto;
    }
  }
  
  &__button {
    margin: 0 auto;
  }
}