mixin front(additionalClass)
  .front(class=additionalClass)
    .wrapper
      +logo('front__logo')
      h1.section-header Web Development Studio
      ul.front__about
        li.front__about-item We help create startups
        li.front__about-item We develop big and complex projects specializing on JavaScript / Node.js
        li.front__about-item We care about deadlines and do our work in full accordance with technical requirements
        li.front__about-item We support our projects and take responsibility for the result
      +button('front__button')