.review-item {
  display: flex;
  
  &__author-photo {
    
  }
  
  &__content {
    margin-left: 4rem;
  }
  
  &__info {
    
  }
  
  &__date {
    
  }
  
  &__info-text {
    font-family: @font-first;
    font-size: 1.8rem;
    font-weight: 300;
  }
  
  &__info-item {
    font-family: @font-first;
    font-size: 1.8rem;
  }
  
  &__info-header {
    
  }
  
  &__subject {
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
  &__info-text {
    
  }
  
  &__evaluation {
    
  }
  
  &__rating {
    
  }
  
  &__dscr {
    
  }
  
  &__link {
    
  }
}