.review-item {
  display: flex;
  align-items: flex-start;
  
  &:nth-child(n+2) {
    margin-top: 6rem;
    padding-top: 7.5rem;
    border-top: 1px solid #e6e6e6;
  }
  
  &__author-photo {
    display: block;
    margin-right: 4rem;
  }
  
  &__content {
    width: 100%;
  }
  
  &__info {
    
  }
  
  &__date {
    
  }
  
  &__info-text {
    font-family: @font-first;
    font-size: 1.8rem;
    font-weight: 300;
  }
  
  &__info-item {
    font-family: @font-first;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    
    &:nth-child(n+2) {
      margin-top: .5rem;
    }
  }
  
  &__info-header {
    margin-right: .5rem;
  }
  
  &__subject {
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    display: block;
  }
  
  &__info-text {
    line-height: 2.8rem;
  }
  
  &__evaluation {
    display: flex;
    align-items: center;
    margin: 2rem 0 1.4rem;
  }
  
  &__rating {
    font-size: 1.8rem;
    font-family: @font-first;
    font-weight: 300;
    margin-left: 2.2rem;
  }
  
  &__stars {
    
  }
  
  &__dscr {
    font-family: @font-first;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 3.2rem;
    max-width: 65rem;
    
    &--short {
      width: 48rem;
    }
  }
  
  &__link {
    font-family: @font-first;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    color: #000;
    display: block;
  }
  
  &--nophoto {
    margin-left: 28rem;
  }
  
  &__content-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  &__content-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  &__project-price {
    width: 16rem;
  }
  
  &__project-price-content {
    font-size: 1.8rem;
    font-family: @font-first;
    font-weight: 300;
    line-height: 2.8rem;
  }
  
  &__project-price-type {
    font-size: 1.8rem;
    font-family: @font-first;
    font-weight: 300;
    line-height: 2.8rem;
  }
  
  &__rating-details {
    width: 16rem;
  }
  
  &__rating-details-item {
    display: flex;
  }
  
  &__rating-details-header {
    font-size: 1.8rem;
    font-family: @font-first;
    font-weight: 300;
    line-height: 2.8rem;
  }
  
  &__rating-details-content {
    font-size: 1.8rem;
    font-family: @font-first;
    font-weight: 300;
    margin-left: .5rem;
    line-height: 2.8rem;
  }
  
  &--detailed {
    width: 104rem;
  }
}