mixin contacts(additionalClass)
  .contacts.section(class=additionalClass)
    .wrapper
      h2.section-header Contacts
      .contacts__content
        .contacts__section
          p.contacts__item.contacts__address Russia, Saint Petersburg, Bolshaya Monetnaya Street, 16, office 530, Business Center “Bolshaya Monetnaya, 16”
          p.contacts__item.contacts__phone + 7 (900) 600-78-20 — Saint Petersburg
          a.contacts__item.contacts__link hello@soshace.com
          p.contacts__item skype: branikita
        .contacts__section
          +socials
          a.contacts__item.contacts__link(href="#") UpWork account
          a.contacts__item.contacts__link(href="#") Medium account
          a.contacts__item.contacts__link(href="#") blog.soshace.com
          a.contacts__item.contacts__link.contacts__presentation(href="#") Presentation