.contacts {
  background: @color-second;
    
  @media screen and (max-width: @screen-md) {
    padding-bottom: 0;
  }
    
  @media screen and (max-width: @screen-sm) {
    padding-left: 2rem;
    padding-bottom: 13rem;
    padding-right: 2rem;
  }
  
  &__contacts-content {
    margin-top: 8.5rem;
  }
}
