.map {
  height: 82rem;
  position: relative;
    
  @media screen and (max-width: @screen-md) {
    height: 96rem;
  }
    
  @media screen and (max-width: @screen-sm) {
    height: auto;
  }
  
  &__content {
    width: 100%;
    height: 100%;
    
    @media screen and (max-width: @screen-sm) {
      height: 40rem;
    }
  }
  
  &__contacts {
    position: absolute;
    top: 11.3rem;
    left: 37rem;
    
    @media screen and (max-width: @screen-md) {
      top: auto;
      bottom: 12.4rem;
      left: 50%;
      transform: translateX(-50%);
      width: 54rem;
      padding: 4.5rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      position: static;
      width: 100%;
      left: 0;
      transform: none;
      padding: 6rem 1.5rem;
    }
  }
}
