mixin video(additionalClass)
  video.video(class=additionalClass, loop = 'true', autoplay = 'true', poster='img/video-bg.jpg')
    source(src='img/video.webm', type='video/webm')
    source(src='img/video.mp4', type='video/mp4')
    source(src='img/video.ogv', type='video/ogg')
