.menu {
  display: flex;
  align-items: center;
    
  @media screen and (max-width: @screen-lg) {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 8rem;
    align-items: flex-start;
  }
  
  &__links {
    
    @media screen and (max-width: @screen-lg) {
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 1.4rem 0 4rem;
      display: none;
      background: rgba(35, 54, 77, .9);
    }
  }
  
  &__item {
    font-size: 1.8rem;
    font-family: @font-first;
    font-weight: 300;
    text-transform: uppercase;
    opacity: .77;
    color: #fff;
    text-decoration: none;
    .transition;
    
    &:hover {
      color: #ffbc00;
    }
    
    @media screen and (max-width: @screen-lg) {
      line-height: 4.2rem;
      padding-left: 4rem;
    }
    
    &:nth-child(n+2) {
      margin-left: 2.8rem;
    
      @media screen and (max-width: @screen-lg) {
        margin-left: 0;
      }
    }
    
    &:nth-child(7) {
      display: none;
    
      @media screen and (max-width: @screen-lg) {
        display: block;
      }
    }
    
    &:nth-child(8) {
      display: none;
    
      @media screen and (max-width: @screen-lg) {
        display: block;
      }
    }
  }
  
  &__button {
    display: none;
    
    @media screen and (max-width: @screen-lg) {
      display: block;
      width: 2.9rem;
      height: 2.3rem;
      position: fixed;
      right: 4.4rem;
      top: 2.9rem;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
    }

    @media screen and (max-width: @screen-xs) {
      right: 2rem;
    }
    
    &--fixed {
      
      .menu__button-item {
        background: #000;
        opacity: .3;
      }
    }
    
    &--active {
      
      .menu__button-item {
        
        &:nth-child(1) {
          top: 1rem;
          transform: rotate(135deg);
        }
        
        &:nth-child(2) {
          opacity: 0;
          left: -4rem;
        }
        
        &:nth-child(3) {
          top: 1rem;
          transform: rotate(-135deg);
        }
      }
    }
  }
  
  
    
  &__button-item {
    position: absolute;
    width: 2.9rem;
    height: .3rem;
    background: #fff;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    
    &:nth-child(1) {
      top: 0;
    }
    
    &:nth-child(2) {
      top: 1rem;
    }
    
    &:nth-child(3) {
      top: 2rem;
    }
  }
}
