.menu {
  display: flex;
  align-items: center;
    
  @media screen and (max-width: @screen-md) {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 8.1rem;
  }
    
  @media screen and (max-width: @screen-sm) {
    padding-top: 7.8rem;
  }
  
  &__links {
    
    @media screen and (max-width: @screen-md) {
      flex-direction: column;
      background: rgba(35, 54, 77, .9);
      width: 100%;
      padding: 1.4rem 0 4rem;
      display: none;
    }
  }
  
  &__item {
    font-size: 1.8rem;
    font-family: @font-first;
    font-weight: 300;
    text-transform: uppercase;
    opacity: .77;
    color: #fff;
    text-decoration: none;
    .transition;
    
    &:hover {
      color: #ffbc00;
    }
    
    @media screen and (max-width: @screen-md) {
      line-height: 4.2rem;
      padding-left: 4rem;
    }
    
    &:nth-child(n+2) {
      margin-left: 1.1rem;
    
      @media screen and (max-width: @screen-md) {
        margin-left: 0;
      }
    }
    
    &:nth-child(n+8) {
      display: none;
    
      @media screen and (max-width: @screen-sm) {
        display: block;
      }
    }
  }
  
  &__button {
    display: none;
    
    @media screen and (max-width: @screen-md) {
      display: block;
      background: url(../img/menu.svg) no-repeat;
      background-size: cover;
      width: 2.9rem;
      height: 2.3rem;
      position: absolute;
      right: 4.4rem;
      top: 2.9rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      right: 2rem;
    }
  }
}
