.technologies {
  background: @color-second;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 9.6rem;
    
    @media screen and (max-width: @screen-sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__item {
    color: #fff;
    font-family: @font-first;
    font-size: 2.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 33.3%;
    min-height: 11.2rem;
    
    @media screen and (max-width: @screen-md) {
      flex-direction: column;
    }
    
    &:nth-child(4) {
    
      @media screen and (max-width: @screen-md) {
        order: 5;
      }
    }
    
    &:nth-child(5) {
    
      @media screen and (max-width: @screen-md) {
        order: 4;
      }
    }
    
    &:nth-child(6) {
    
      @media screen and (max-width: @screen-md) {
        order: 6;
      }
    }
    
    &:nth-child(n+4) {
      margin-top: 10rem;
    
      @media screen and (max-width: @screen-sm) {
        margin-top: 6rem;
      }
    }
    
    &:nth-child(n+2) {
    
      @media screen and (max-width: @screen-sm) {
        margin-top: 6rem;
      }
    }
    
    &:before {
      content: '';
      display: block;
      width: 14rem;
      height: 11.2rem;
      margin-bottom: 2.2rem;
    }
    
    &--angular {
      
      &:before {
        background: url(../img/tech-angular.png) no-repeat;
    
        @media screen and (max-width: @screen-md) {
          background-position: center bottom;
        }
      }
    }
    
    &--react {
      
      &:before {
        background: url(../img/tech-react.png) no-repeat;
        background-position: left center;
    
        @media screen and (max-width: @screen-md) {
          background-position: center bottom;
        }
      }
    }
    
    &--d3 {
      
      &:before {
        background: url(../img/tech-d3.png) no-repeat;
        background-position: left center;
    
        @media screen and (max-width: @screen-md) {
          background-position: center bottom;
        }
      }
    }
    
    &--meteor {
      
      &:before {
        width: 22.4rem;
        background: url(../img/tech-meteor.png) no-repeat;
        background-position: left center;
    
        @media screen and (max-width: @screen-md) {
          background-position: center bottom;
        }
      }
    }
    
    &--html {
      
      &:before {
        background: url(../img/tech-html.png) no-repeat;
        background-position: left center;
    
        @media screen and (max-width: @screen-md) {
          background-position: center bottom;
        }
      }
    }
    
    &--css {
      
      &:before {
        background: url(../img/tech-css.png) no-repeat;
        background-position: left center;
    
        @media screen and (max-width: @screen-md) {
          background-position: center bottom;
        }
      }
    }
  }
}