.technologies {
  background: @color-second;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8.6rem;
    margin-bottom: 4.9rem;
    
    @media screen and (max-width: @screen-md) {
      padding-left: 2rem;
      margin-bottom: 5.9rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      margin-top: 5rem;
    }
  }
  
  &__item {
    color: #fff;
    font-family: @font-first;
    font-size: 2.2rem;
    font-weight: 300;
    display: flex;
    line-height: 11rem;
    min-height: 11.2rem;
    min-width: 21.5rem;
    
    @media screen and (max-width: @screen-md) {
      flex-direction: column;
      align-items: center;
      line-height: 5rem;
    }
    
    &:nth-child(3n+2) {
      margin-left: 22.5rem;
    
      @media screen and (max-width: @screen-md) {
        margin-left: 4rem;
      }
    
      @media screen and (max-width: @screen-sm) {
        margin-left: 0;
      }
    }
    
    &:nth-child(3n+3) {
      margin-left: 18.5rem;
    
      @media screen and (max-width: @screen-md) {
        margin-left: 2.5rem;
      }
    
      @media screen and (max-width: @screen-sm) {
        margin-left: 0;
      }
    }
    
    &:nth-child(n+4) {
      margin-top: 6.5rem;
    
      @media screen and (max-width: @screen-md) {
        margin-top: 10.6rem;
      }
    
      @media screen and (max-width: @screen-sm) {
        margin-top: 6rem;
      }
    }
    
    &:nth-child(n+2) {
    
      @media screen and (max-width: @screen-sm) {
        margin-top: 4.1rem;
      }
    }
    
    &:before {
      content: '';
      display: block;
      width: 14rem;
      margin-bottom: 2.2rem;
      flex: 0 0 auto;
    
      @media screen and (max-width: @screen-md) {
        margin-bottom: 0;
      }
    }
    
    &--angular {
      
      &:before {
        background: url(../img/tech-angular.png) no-repeat;
        background-size: contain;
        height: 10.6rem;
    
        @media screen and (max-width: @screen-md) {
          background-position: center center;
        }
      }
    }
    
    &--react {
      
      &:before {
        background: url(../img/tech-react.png) no-repeat;
        background-position: left center;
        background-size: contain;
        height: 8.8rem;
    
        @media screen and (max-width: @screen-md) {
          background-position: center center;
        }
      }
    }
    
    &--d3 {
      
      &:before {
        background: url(../img/tech-d3.png) no-repeat;
        background-position: left center;
        background-size: contain;
        height: 9.6rem;
    
        @media screen and (max-width: @screen-md) {
          background-position: center center;
        }
      }
    }
    
    &--meteor {
      
      
      &:before {
        width: 22.4rem;
        height: 5.3rem;
        background: url(../img/tech-meteor.png) no-repeat;
        background-position: left center;
        background-size: contain;
        margin-top: 3rem;
    
        @media screen and (max-width: @screen-md) {
          background-position: center center;
        }
    
        @media screen and (max-width: @screen-sm) {
          margin-top: 0;
        }
      }
    }
    
    &--html {
      
      &:before {
        background: url(../img/tech-html.png) no-repeat;
        background-position: left center;
        background-size: contain;
        height: 11.2rem;
    
        @media screen and (max-width: @screen-md) {
          background-position: center center;
        }
      }
    }
    
    &--css {
      
      &:before {
        background: url(../img/tech-css.png) no-repeat;
        background-position: left center;
        background-size: contain;
        height: 11.2rem;
    
        @media screen and (max-width: @screen-md) {
          background-position: center center;
        }
      }
    }
  }
}