.header {
  padding: 2.2rem 0;
  background: @color-second;
  position: absolute;
  width: 100%;
  z-index: 8;
    
  @media screen and (max-width: @screen-sm) {
    position: absolute;
    padding: 2.4rem 0;
  }
  
  &--active {
    
    @media screen and (max-width: @screen-md) {
      position: fixed;
    }
    
    @media screen and (max-width: @screen-md) {
      background: rgba(35, 54, 77, .9);
    }
    
    .menu__button-item {
      background: #fff;
      opacity: 1;
    }
  }
  
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media screen and (max-width: @screen-md) {
      padding: 0 9.4rem 0 4.2rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      padding: 0 2rem;
    }
  }
  
  &__button {
    z-index: 9;
    
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
  
  &__logo {
    z-index: 9;
  }
}