mixin header(additionalClass)
  .header(class=additionalClass)
    .wrapper.header__wrapper
      +logo
      +menu
      +button('button--small')
      
mixin header--inner(additionalClass)
  .header(class=additionalClass)
    .wrapper.header__wrapper
      +logo
      +menu--inner
      +button('button--small')