.form {
  position: relative;
  height: 100%;
  
  &__content {
    display: none;
  }
  
  &__content-container {
    max-width: 58rem;
    margin: 0 auto;
    position: relative;
        
    @media screen and (max-width: @screen-md) {
      max-width: 50rem;
    }
  }
  
  &__dscr {
    font-size: 2.2rem;
    font-weight: 300;
    font-family: @font-first;
    color: #fff;
    line-height: 3.2rem;
    max-width: 75rem;
    margin: 7.5rem auto 2rem;
    text-align: center;
    display: block;
        
    @media screen and (max-width: @screen-sm) {
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-top: 5rem;
      margin-bottom: 6.5rem;
    }
  }
  
  &__input {
    
    &:nth-child(n+2) {
      margin-top: 1.9rem;
    }
  }
  
  &__button {
    margin: 6rem auto 0;
    transition: 0;
  }
  
  &__upload {
    position: absolute;
    right: -9.5rem;
    bottom: 11.4rem;
        
    @media screen and (max-width: @screen-sm) {
      position: relative;
      right: auto;
      bottom: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
    }
    
    &--uploading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      right: -7.8rem;
      bottom: 9.6rem;
      
      .form__upload-icon {
        width: 5.8rem;
        height: 7.5rem;
        background: url(../img/document.png) no-repeat;
        background-size: cover;
        position: relative;
        
        &:before {
          content: '';
          display: block;
          background: url(../img/load-circle.png) no-repeat;
          background-size: cover;
          width: 2.9rem;
          height: 2.9rem;
          position: absolute;
          top: 3rem;
          left: 1.4rem;
          animation: spin 1.5s linear infinite;
        }
      }
      
      .form__upload-text {
        display: none;
      }
    }
    
    &--uploaded {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      right: -7.8rem;
      bottom: 9.6rem;
      
      .form__upload-icon {
        width: 5.8rem;
        height: 7.5rem;
        background: url(../img/document.png) no-repeat;
        background-size: cover;
        position: relative;
      }
      
      .form__upload-text {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 2rem;
      }
    }
  }
  
  &__upload-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  &__upload-icon {
    width: 2rem;
    height: 5rem;
    background: url(../img/clip.svg) no-repeat;
    background-size: cover;
  }
  
  &__upload-text {
    color: #fff;
    font-size: 1.6rem;
    font-family: @font-first;
    margin-top: .6rem;
  }
  
  &__message {
    margin-top: 9rem;
    
    &--success {
      display: none;
      
      .form__message-icon {
        background: url(../img/form-success.png) no-repeat;
        background-size: cover;
      }
    }
    
    &--error {
      display: none;
      
      .form__message-icon {
        background: url(../img/form-error.png) no-repeat;
        background-size: cover;
      }
    }
  }
  
  &__message-text {
    color: #fff;
    font-family: @font-first;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 3.2rem;
    margin-bottom: 7.4rem;
  }
  
  &__message-icon {
    width: 18.1rem;
    height: 18.1rem;
    margin: 0 auto;
  }
  
  &__message-link {
    color: #fff;
    margin-left: .5rem;
  }
  
  &__loading {
    width: 4rem;
    height: 4rem;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -5.8rem;
    animation: rotation 1.2s infinite ease-in-out;
  }

  @keyframes rotation {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
}