mixin logo-animated(additionalClass)
  .logo-animated(class=additionalClass)
    .logo-animated__name
    .logo-animated__square.logo-animated__square--blue.logo-animated__square--first
    .logo-animated__square.logo-animated__square--yellow.logo-animated__square--second
    .logo-animated__square.logo-animated__square--green.logo-animated__square--third
    .logo-animated__square.logo-animated__square--blue.logo-animated__square--fourth
    .logo-animated__square.logo-animated__square--yellow.logo-animated__square--fifth
    .logo-animated__square.logo-animated__square--green.logo-animated__square--sixth